<hr>
<div class="similar-issues">
  <p><strong>類似チケット1</strong>(searcher_records)</p>
  <%= render_similar_issues(issue) %>
</div>

<hr>
<div class="similar-issues">
  <p><strong>類似チケット2</strong>(issue_contents)</p>
  <%= render_similar_issues2(issue) %>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'similar_issues', :plugin => 'full_text_search' %>
<% end %>
