<% ActiveSupport::Notifications.subscribe("groonga.similar.search") do |*args| %>
<% @groonga_similar_search_event = ActiveSupport::Notifications::Event.new(*args) %>
<% end %>
<% duration = "%.1f" % [@groonga_similar_search_event.try(:duration) || 0] %>

<hr>
<div class="similar-issues">
  <p><strong>類似チケット</strong><span class="elapsed">(<%= duration %>ms)</span></p>
  <%= render_similar_issues(issue) %>
</div>

<% if display_score? %>
  <% content_for :header_tags do %>
    <%= stylesheet_link_tag 'score', :plugin => 'full_text_search' %>
  <% end %>
<% end %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'similar_issues', :plugin => 'full_text_search' %>
<% end %>
