<%= error_messages_for "query_expansion" %>

<div class="box tabular">
  <p><%= f.text_field :source, :required => true, :size => 60 %></p>
  <p><%= f.text_field :destination, :required => true, :size => 60 %></p>
</div>
