#search-results dt a::after {
  content: " (" attr(data-rank) ")";
  color: #bbbbbb;
  font-size: x-small;
}

.similar-issues td.subject::after {
  content: " (" attr(data-rank) ")";
  color: #bbbbbb;
  font-size: x-small;
}

#search-elapsed {
  color: #bbbbbb;
  font-size: x-small;
}

.similar-issues .elapsed {
  color: #bbbbbb;
  font-size: x-small;
}
