#search-results dt a::after {
  content: " (" attr(data-rank) ")";
  color: gray;
  font-size: x-small;
}

.similar-issues td.subject::after {
  content: " (" attr(data-rank) ")";
  color: gray;
  font-size: x-small;
}
