.search-input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.search-input-box input,
.search-input-box button {
  border: 1px solid #bbbbbb;
  height: 32px;
  padding: 8px;
  margin: 0px;
}

.search-input-box input {
  flex-basis: 100%;
}

.search-input-box button {
  border-left-width: 0;
  cursor: pointer;
}

.search-input-box button:hover {
  background: #169;
}

#search-result {
  display: grid;
  grid-template-columns: 10em calc(100% - 10em);
}

#search-result h3 {
  margin-top: 0.5em;
}

#search-result-metadata {
  border-right: 1px solid #bbbbbb;
  padding-right: 3px;
}

.search-order ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.search-order li {
  padding: 0;
  margin: 0;
}

.search-drilldown ul {
  padding: 0;
  padding-left: 1em;
  margin: 0;
}

.search-drilldown ul li {
  padding: 0;
  margin: 0;
}

ol.search-snippets {
  padding: 0.25em 0;
  margin: 0;
  list-style-type: none;
}

ol.search-snippets li {
  padding: 0.25em 0;
}

.keyword {
  background-color: #FCFD8D;
}
